@media (min-width: @tablet-width) {
  .add-photo__wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

.add-photo__item-effects {
  margin-top: -7px;
  padding-top: 22px;
}

.add-photo__field {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #dddfe0;
}

.add-photo__field-item {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .add-photo__field-item {
    display: flex;
    justify-content: space-between;
    width: 255px;
    padding: 19px 0;
    border-bottom: 1px solid #dddfe0;
  }
}


.add-photo__field-item:not(:last-child) {
  margin-right: 40px;
}


@media (min-width: @tablet-width) {
  .add-photo__field-item:not(:last-child) {
    margin-right: 0;
  }
}

.add-photo__field-item:last-child svg {
  margin-top: 7px;
}

@media (min-width: @tablet-width) {
  .add-photo__field-item:last-child svg {
    margin-top: 0;
    width: 16px;
    height: 16px;
  }
}

.add-photo__field-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .add-photo__field-wrapper {
    width: 265px;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blue;
  }
}

.add-photo__filter:hover + .add-photo__label svg {
  fill: #8d949b;
}

.add-photo__filter:checked + .add-photo__label svg {
  fill: @red;
}

@media (min-width: @tablet-width) {
  .add-photo__filter:hover + .add-photo__label svg {
    fill: @red;
  }
}

@media (min-width: @tablet-width) {
  .add-photo__label svg {
    width: 22px;
    height: 22px;
    fill: @red;
  }
}

.add-photo__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
}

.add-photo__button-cancel {
  margin-top: 12px;
}
