.copyright__text {
  margin-right: 41px;
}

.copyright__link {
  position: relative;

  & svg {
    position: absolute;
    top: -9px;
    left: -36px;
    fill: @red;
  }
}

.copyright__link:hover svg {
  fill: #283645;
}

.copyright__link:active svg {
  fill: #bec2c7;
}

@media (min-width: @tablet-width) {
  .copyright {
    display: flex;
    align-items: center;
  }

  .copyright__link {
    margin-top: -17px;
  }
}
