.demonstration__link--panorama {
  position: relative;
  display: block;

  &::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 6.25%;
    width: 140px;
    height: 36px;
    font-weight: bold;
    font-size: @small-size;
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: @red;
  }
}

.demonstration__wrapper {
  display: flex;
  flex-direction: column;
}

.demonstration__photo {
  display: block;
}

.demonstration__photo--panorama {
  width: 100%;
  height: auto;
  display: block;
}

.demonstration__description {
  width: 280px;
  min-height: 121px;
  margin: 0 auto;
  padding: 17px 18px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: left;
  background-color: @gray;
}

.demonstration__description--panorama {
  padding-bottom: 20px;
}

.demonstration__description--users {
  display: flex;
  flex-direction: column;
}

.demonstration__time {
  font-weight: 300px;
  font-size: @small-size;
  line-height: 24px;
  text-transform: uppercase;
}

.demonstration__text {
  margin: 0;
}

.demonstration__likes {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: @small-size;
  color: @red;
  text-transform: uppercase;
}

.demonstration__likes-text {
  padding-left: 31px;
}

.demonstration__likes-button {
  position: absolute;
  top: 5px;
  left: 0;
  width: 14px;
  height: 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.demonstration__likes--panorama {
  display: block;
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .demonstration__link--panorama::before {
    top: 56px;
    right: 3%;
  }

  .demonstration__photo--panorama {
    height: 511px;
  }

  .demonstration__description {
    display: flex;
    flex-grow: 1;
    width: 300px;
    margin-top: 0;
  }

  .demonstration__description--panorama {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px 28px;
    padding-bottom: 27px;
  }

  .demonstration__user-info {
    order: 0;
  }

  .demonstration__text--panorama {
    order: 3;
    margin-top: -1px;
  }

  .demonstration__description--users {
    min-height: 156px;
    padding: 23px 28px;
  }

  .demonstration__likes {
    margin-top: auto;
  }

  .demonstration__likes-button {
    top: 7px;
    left: 106px;
  }

  .demonstration__likes-button--tablet {
    top: 5px;
    left: 227px;
  }

  .demonstration__likes-text {
    padding-left: 0;
    padding-right: 31px;
  }

  .demonstration__likes--panorama {
    margin: 0;
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .demonstration__link--panorama::before {
    top: 54px;
    right: 10.9%;
  }

  .demonstration__photo--panorama {
    height: auto;
  }

  .demonstration__description--panorama {
    width: 940px;
    min-height: 10px;
    padding-top: 24px;
    padding-bottom: 26px;
  }

  .demonstration__likes-text {
    padding-right: 34px;
  }
}
