.download-application {
  background-color: #1d2631;
}

.download-application__wrapper {
  padding-top: 28px;
  text-align: center;
}

.download-application__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  list-style: none;
}

.download-application__item:not(:last-child) {
  margin-right: 10px;
}

.download-application__link {
  display: block;
  width: 47px;
  height: 56px;
  background-color: red;
}
