.effect {
  display: none;
}

@media (min-width: @tablet-width) {
  .effect {
    display: block;
    padding-top: 100px;
  }
}

@media (min-width: @desktop-width) {
  .effect {
    background-color: @gray;
  }
}

@media (min-width: @tablet-width) {
  .effect__wrapper {
    width: 620px;
    min-height: 280px;
    margin: 0 auto;
    padding-top: 100px;
    background-image: url("../img/timer-icon.png");
    background-repeat: no-repeat;
    background-size: 238px 276px;
    background-position: 0;
  }
}

@media (min-width: @desktop-width) {
  .effect__wrapper {
    width: 940px;
    background-image: url("../img/timer-icon-desktop.png");
    background-repeat: no-repeat;
    background-size: 298px 345px;
    background-position: 0;
  }
}

@media (min-width: @tablet-width) {
  .effect__content {
    width: 320px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .effect__content {
    width: 540px;
  }
}

@media (min-width: @tablet-width) {
  .effect__title {
    margin: 0;
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: @tablet-width) {
  .effect__title-wrap {
    margin-right: 160px;
  }
}

@media (min-width: @desktop-width) {
  .effect__title-wrap {
    margin: 0;
  }
}


@media (min-width: @tablet-width) {
  .effect__text {
    margin: 0;
    margin-bottom: 18px;
    padding-right: 18px;
  }
}

@media (min-width: @desktop-width) {
  .effect__text {
    font-size: @middle-size;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .effect__text .wrap-2,
  .effect__text .wrap-3 {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .effect__text .wrap-2,
  .effect__text .wrap-3 {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .effect__text .wrap-1 {
    margin-right: 25px;
  }
}

@media (min-width: @tablet-width) {
  .effect__link {
    color: @red;
  }
}

@media (min-width: @desktop-width) {
  .effect__link {
    font-size: @middle-size;
  }
}
