.feedback {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.feedback__heading-top,
.feedback__heading-bottom {
  margin: 0;
  font-weight: 300;
  font-size: @big-size;
  line-height: 30px;
}

.feedback__list {
  .lists;
}

.feedback__item {
  margin-top: 40px;
}

.feedback__item-heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: @middle-size;
}

.feedback__contacts {
  font-weight: 300;
  font-size: @big-size;
  color: @red;
}
