.history {
  margin-top: 43px;
}

.history label {
  cursor: pointer;
}

.history__promo {
  width: 280px;
  margin: 0 auto;
  line-height: 31px;
  text-align: center;
}

.history__promo--hidden {
  display: none;
}

.history__form {
  margin-top: 34px;
}

.history__form-list {
  .lists;
}

.history__form-field {
  margin: 0;
  padding: 0;
  border: none;
}

.history__form-item--gray {
  padding-top: 37px;
  padding-bottom: 50px;
  background-color: @gray;
}

.history__form-item--progress {
  margin-top: 43px;
  padding-bottom: 48px;
}

.history__form-item--contacts {
  margin-top: 31px;
}

.history__form-item--apps {
  margin-top: 43px;
  padding-bottom: 47px;
}

.history__form-item--emotions {
  margin-top: 37px;
}

.history__field-wrapper {
  width: 280px;
  margin: 0 auto;
}

.history__field-item {
  margin: 0;
}

.history__field-item--user-info {
  margin-top: 17px;
}

.history__field-item--user-info:nth-child(1) {
  margin-top: 0;
}

.history__field-item--contacts {
  margin-top: 16px;
}

.history__field-item--contacts:nth-child(1) {
  margin-top: 0;
}

.history__field-item--apps {
  margin-top: 46px;
}

.history__field-item--apps:nth-child(1) {
  margin-top: 0;
}

.history__field-item--apps:nth-child(3) {
  margin-top: 45px;
}


.history__field-unit {
  margin: 0;
  margin-bottom: 52px;
}

.history__field-unit:nth-child(3) {
  margin-top: 53px;
}

.history__field-unit:nth-child(5) {
  margin-top: 53px;
}

.history__field-unit:last-child {
  margin-bottom: 0;
}

.history__form-picker,
.history__form-pink {
  position: relative;
  padding-left: 70px;
  font-size: @middle-size;
  line-height: 30px;
}

.history__form-picker::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.history__form-checkbox:checked + .history__form-picker::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  width: 20px;
  height: 8px;
  border: 2px solid #d22856;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.history__form-pink::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
}

.history__form-pink:hover::before,
.history__form-picker:hover::before {
  border-color: #283645;
}

.history__form-pink:active::before,
.history__form-picker:active::before {
  border-color: @red;
}

.history__form-aplication:checked + .history__form-pink::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: @red;
  border-radius: 50%;
  box-sizing: border-box;
}

.history__form-aplication:focus + .history__form-pink::before,
.history__form-checkbox:focus + .history__form-picker::before {
  outline: 1px solid blue;
}

.history__form-label--red {
  display: block;
  margin-left: 22px;
  margin-bottom: 6px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.history__form-input,
.history__form-textarea {
  width: 280px;
  padding: 14px 20px;
  box-sizing: border-box;
  font-size: @middle-size;
  line-height: 30px;
  font-family: @font;
  border: 2px solid #e5e5e5;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: @red;
  }
}

.history__form-input::placeholder,
.history__form-textarea::placeholder {
  color: #283645;
}

.history__form-textarea {
  min-width: 250px;
  max-width: 280px;
  min-height: 202px;
  padding: 15px 18px;
}

.history__form-title {
  margin: 0 0 44px;
  padding: 0 40px;
  padding-right: 41px;
  line-height: 18px;
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.history__form-title--contacts {
  display: none;
}

.history__form-title--apps {
  margin-bottom: 41px;
}

.history__form-title--emotions {
  margin-bottom: 17px;
}

.history__description-label {
  display: flex;
  margin-left: 48px;
  margin-bottom: 20px;
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.history__form-button {
  text-align: center;
}

.history__form-submit {
  width: 280px;
  margin-top: 40px;
  padding: 17px 47px;
  font-weight: bold;
  font-family: @font;
  font-size: @middle-size;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7dbd99;
    background-color: #1c9b5e;
  }
}

.history__form-submit:disabled {
  background-color: #e5e5e5;
}

.history__form-required {
  display: block;
  margin: 35px 0 19px;
  margin-left: 2px;
  line-height: 30px;
  text-transform: uppercase;
}

.history__form-star {
  color: #d22856;
  margin-left: -4px;
  margin-right: 4px;
}

.history__form-required-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .history {
    margin-top: 92px;
  }

  .history__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .history__promo {
    width: 495px;
    font-size: @middle-size;
    line-height: 29px;
  }

  .history__promo--hidden {
    display: inline;
  }

  .history__form {
    margin-top: 72px;
  }

  .history__form-list {
    display: flex;
    flex-direction: column;
  }

  .history__form-field--progress {
    padding-top: 49px;
    padding-right: 60px;
    padding-bottom: 55px;
    padding-left: 58px;
    border: 2px solid #e5e5e5;
  }

  .history__form-field--contacts {
    padding-top: 37px;
    padding-right: 58px;
    padding-bottom: 26px;
    padding-left: 58px;
    border: 2px solid #e5e5e5;
  }

  .history__form-field--apps {
    padding-top: 49px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 58px;
    border: 2px solid #e5e5e5;
  }

  .history__form-field--emotions {
    padding-top: 37px;
    padding-right: 56px;
    padding-bottom: 45px;
    padding-left: 58px;
    border: 2px solid #e5e5e5;
  }

  .history__form-item--gray {
    background-color: transparent;
  }

  .history__form-item--user-info {
    order: 1;
  }

  .history__form-item--apps {
    order: 2;
    margin-top: 22px;
  }

  .history__form-item--contacts {
    order: 3;
    margin-top: 8px;
  }

  .history__form-item--progress {
    order: 4;
    margin-top: 20px;
  }

  .history__form-item--emotions {
    order: 5;
    margin-top: 7px;
  }

  .history__field-wrapper {
    width: 100%;
  }

  .history__field-wrapper--contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .history__field-item--user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
  }

  .history__field-item--contacts {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 29px;
  }

  .history__form-label--red {
    margin-bottom: 0;
    margin-left: 0;
  }

  .history__form-label--contacts {
    position: relative;
    margin-left: 20px;
    margin-top: 11px;
  }

  .history__form-label--contacts::after {
    content: "";
    position: absolute;
    top: -71px;
    left: 420px;
    width: 58px;
    height: 57.5px;
    background-color: #e5e5e5;
  }

  .history__field-item--contacts:nth-child(1) .history__form-label--contacts::after {
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .history__field-item--contacts:nth-child(2) .history__form-label--contacts::after {
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }


  .history__form-input--retreat {
    flex-grow: 1;
    padding: 14px 20px;
    margin-left: 18px;
  }

  .history__form-input--contacts {
    width: 100%;
    padding: 14.5px 19px;
    padding-right: 60px;
  }

  .history__form-textarea {
    width: 500px;
    max-width: 500px;
    min-height: 193px;
  }

  .history__form-title {
    margin-bottom: 0;
  }

  .history__form-title--contacts {
    display: block;
    padding: 0 32px;
  }

  .history__form-title--apps {
    padding: 0 25px;
  }

  .history__form-title--progress {
    padding: 0 32px;
  }

  .history__form-title--emotions {
    padding: 0 38px;
  }

  .history__form-pink {
    padding-left: 60px;
  }

  .history__form-picker {
    padding-left: 60px;
  }

  .history__form-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  .history__form-submit {
    width: 300px;
    margin-top: 66px;
  }

  .history__form-required {
    margin-top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .history__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .history__promo {
    width: 780px;
  }

  .history__form {
    margin-top: 47px;
  }

  .history__form-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .history__form-title--apps {
    width: 356px;
    padding: 0 19px;
  }

  .history__form-field--apps {
    padding-top: 53px;
    padding-right: 0;
    padding-bottom: 59px;
    padding-left: 73px;
    box-sizing: border-box;
  }

  .history__form-field--contacts {
    padding-top: 36px;
    padding-bottom: 14px;
  }

  .history__form-item--gray {
    padding-top: 0;
    padding-bottom: 0;
  }

  .history__form-item--user-info {
    width: 435px;
  }

  .history__form-item--apps {
    width: 435px;
  }

  .history__form-item--contacts {
    width: 100%;
    margin-top: 55px;
  }

  .history__form-item--progress {
    width: 100%;
    margin-top: 54px;
  }

  .history__form-item--emotions {
    width: 940px;
    margin-top: 57px;
    box-sizing: border-box;
  }

  .history__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .history__form-field--emotions {
    padding-bottom: 40px;
  }

  .history__field-wrapper--contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .history__field-wrapper--apps {
    flex-direction: column;
  }

  .history__field-item--user-info {
    width: 100%;
  }

  .history__field-item--contacts {
    margin-top: 0;
    width: 375px;
  }

  .history__field-unit:nth-child(3),
  .history__field-unit:nth-child(5) {
    margin-top: 0;
  }

  .history__form-field--progress {
    padding-right: 0;
    padding-bottom: 8px;
  }

  .history__form-picker {
    padding-left: 60px;
  }

  .history__form-input--retreat {
    padding: 15px 20px;
  }

  .history__form-input--contacts {
    width: 375px;
  }

  .history__form-label--contacts::after {
    left: 295px;
  }

  .history__form-textarea {
    width: 820px;
    max-width: 820px;
    min-height: 126px;
    padding-top: 11px;
  }

  .history__field-unit {
    width: 260px;
    margin-right: 35px;
  }

  .history__field-unit:nth-child(1) {
    order: 1;
    margin-right: 54px;
  }

  .history__field-unit:nth-child(2) {
    order: 4;
    margin-right: 54px;
  }

  .history__field-unit:nth-child(3) {
    order: 2;
  }

  .history__field-unit:nth-child(4) {
    order: 5;
  }

  .history__field-unit:nth-child(5) {
    order: 3;
    margin-right: 0;
  }

  .history__field-unit:nth-child(6) {
    order: 6;
    margin-right: 0;
  }

  .history__form-button {
    margin-bottom: 0;
  }

  .history__form-submit {
    margin-top: 65px;
  }

  .history__form-required-text {
    display: inline;
  }
}
