.history {
  margin-top: 50px;
}

.history__promo {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.history__form {
  margin-top: 45px;
}

.history__form-field {
  margin: 0;
  padding: 0;
  border: none;
}

.history__form-field--gray {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: @gray;
}

.history__field-wrapper {
  width: 280px;
  margin: 0 auto;
}

.history__form-field:not(:first-child) {
  margin-top: 42px;
}

.history__field-item {
  margin: 0;
}

.history__field-item:not(:first-of-type) {
  margin-top: 20px;
}

.history__form-picker,
.history__form-pink {
  position: relative;
  padding-left: 70px;
  font-size: @middle-size;
  line-height: 30px;
}

.history__form-picker::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.history__form-checkbox:checked + .history__form-picker::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 10px;
  width: 18px;
  height: 8px;
  border: 2px solid @red;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.history__form-pink::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 39px;
  height: 39px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
}

.history__form-aplication:checked + .history__form-pink::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: @red;
  border-radius: 50%;
  box-sizing: border-box;
}

.history__form-label--red {
  margin-left: 23px;
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.history__form-input,
.history__form-textarea {
  width: 280px;
  padding: 14.5px 21px;
  box-sizing: border-box;
  font-size: @middle-size;
  line-height: 30px;
  font-family: @font;
  border: 2px solid #e5e5e5;

  &:hover {
    border-color: #283645;
  }

  &:focus {
    border-color: @red;
  }
}

.history__form-input::placeholder,
.history__form-textarea::placeholder {
  color: #283645;
}

.history__form-textarea {
  min-width: 250px;
  max-width: 280px;
  min-height: 200px;
}

.history__form-title {
  margin: 0;
  margin-bottom: 55px;
  padding: 0 20px;
  line-height: 18px;
  text-align: center;
  color: @red;
  text-transform: uppercase;
}

.history__field-unit {
  margin: 0;
}

.history__field-unit:not(:first-of-type) {
  margin-top: 60px;
}

.history__description-label {
  display: flex;
  margin-left: 48px;
  margin-bottom: 20px;
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.history__form-button {
  text-align: center;
}

.history__form-submit {
  width: 280px;
  margin-top: 48px;
  padding: 16px 47px;
  font-weight: bold;
  font-size: @middle-size;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7dbd99;
    background-color: #1c9b5e;
  }
}

.history__form-required {
  display: block;
  margin: 0;
  margin-top: 40px;
  line-height: 30px;
  text-transform: uppercase;
}

.history__form-required span {
  color: @red;
}
