.main-nav {
  padding-top: 10px;
  background-color: rgba(29, 38, 49, 1);
}

.main-nav__toggle {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
  width: 50px;
  height: 4px;
  border: none;
  cursor: pointer;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
}

.main-nav__toggle::after {
  top: 8px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

// .main-nav--closed {
//   min-height: 66px;
//   background-color: rgba(29, 38, 49, 0.7)
// }
// .main-nav__list--closed {
//   display: none;
// }
