.map {
  width: 100%;
  min-height: 200px;
  background-image:
    url("../img/bg-triangle-white-footer.svg"),
    url("../img/icon-map-marker.svg"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100%, 6.5%, cover;
  background-position: 50% 0, 52% 88%, 50% 87%;
}
