.our-offer {
  margin-top: 45px;
}

@media (min-width: @tablet-width) {
  .our-offer__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

.our-offer__heading-top,
.our-offer__heading-bottom {
  width: 330px;
  margin: 0 auto;
  font-weight: 300;
  font-size: @big-size;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .our-offer__heading-top,
  .our-offer__heading-bottom {
    font-size: 40px;
    line-height: 45px;
  }
}

.our-offer__heading-top {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .our-offer__heading-top {
    width: 100%;
  }
}

.our-offer__list {
  .lists;
  padding-top: 100px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .our-offer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 40px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .our-offer__list {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 366px;
    text-align: center;
  }
}

.our-offer__list-background {
  background-color: @gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .our-offer__list-wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .our-offer__list-wrapper {
    width: 940px;
    min-height: 623px;
  }
}

.our-offer__item:not(:first-child) {
  margin-top: 40px;
}

.our-offer__item--icon-3 {
  position: relative;
  padding-bottom: 325px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 157px;
    height: 276px;
    margin-left: -79px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}

@media (min-width: @desktop-width) {
  .our-offer__item--icon-1 {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .our-offer__item--icon-1::after {
    content: "";
    position: absolute;
    left: 95px;
    top: -360px;
    width: 294px;
    height: 302px;
    margin-left: -72px;
    background-image: url("../img/iphone-screen-tablet1@1x.png");
  }
}

@media (min-width: @desktop-width) {
  .our-offer__item--icon-2 {
    position: relative;
  }
}

@media (min-width: @desktop-width) {
  .our-offer__item--icon-2::after {
    content: "";
    position: absolute;
    left: 95px;
    top: -360px;
    width: 294px;
    height: 302px;
    margin-left: -100px;
    background-image: url("../img/iphone-screen-tablet2@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .our-offer__item--icon-3 {
    position: relative;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .our-offer__item--icon-3::after {
    content: "";
    position: absolute;
    left: -235px;
    bottom: -39px;
    width: 270px;
    height: 481px;
    margin-left: -79px;
    background-image: url("../img/iphone-screen-tablet@1x.png");
  }
}

@media (min-width: @desktop-width) {
  .our-offer__item--icon-3::after {
    position: absolute;
    left: 95px;
    top: -360px;
    width: 294px;
    height: 302px;
    margin-left: -79px;
    background-image: url("../img/iphone-screen-tablet3@1x.png");
  }
}

.our-offer__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: @middle-size;
}

@media (min-width: @desktop-width) {
  .our-offer__title {
    padding: 0 43px;
    font-size: 30px;
    line-height: 30px;
  }
}

.our-offer__text {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .our-offer__text {
    width: 240px;
    font-size: @middle-size;
  }
}
