.page-footer {
  padding-top: 40px;
}

.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__social {
  margin-top: 40px;
}

.page-footer__copyright {
  margin-top: 40px;
}
