.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;
}

.page-footer__logo:hover .letters {
  fill: @red;
}

.page-footer__logo:active .letters {
  fill: #283645;
}

.page-footer__logo:active svg {
  opacity: 0.5;
}

.page-footer__social {
  margin-top: 31px;
}

.page-footer__copyright {
  margin-top: 42px;
}

@media (min-width: @tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin-right: 74px;
  }

  .page-footer__social {
    margin: 0;
  }

  .page-footer__copyright {
    width: 128px;
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    padding-top: 72px;
  }

  .page-footer__logo {
    width: 148px;
    height: 41px;
    margin-right: 231px;
    background-image: url("../img/logotype-blue-desktop.png");
    background-repeat: no-repeat;
  }

  .page-footer__logo-image {
    display: none;
  }

  .page-footer__copyright {
    width: 154px;
    font-size: @middle-size;
  }
}
