.price {
  margin-top: 41px;
  padding-top: 88px;
  padding-bottom: 33px;
  background-color: @gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.price__table {
  border-collapse: collapse;
}


.price__title {
  padding: 16px 64px;
  padding-bottom: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--hit {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }

  &--hit::before {
    content: "Хит";
    position: absolute;
    top: 2px;
    left: -4px;
    font-weight: normal;
    text-transform: uppercase;
    transform: translate(14px, 12px) rotate(-45deg);
  }
}

.price__title--hidden {
  display: none;
  background-color: transparent;
  border: none;
}

.price__title-name {
  display: block;
  margin-top: 2px;
  font-weight: bold;
  font-size: @middle-size;
  line-height: 30px;
  text-transform: uppercase;
}

.price__title-value {
  display: block;
  width: 150px;
  font-weight: 300;
  font-size: @big-size;
  line-height: 30px;
}

.price__option {
  position: relative;
  padding: 16px 22px;
  padding-top: 15px;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
}

.price__option-image-yes {
  position: absolute;
  top: 18px;
  right: 18px;
  fill: #3dc644;
}

.price__option-image-no {
  position: absolute;
  right: 20px;
  fill: #f25b26;
}

.price__option--hide {
  display: none;
  border-width: 1px;
  border-right: none;
}

.price__toggles {
  margin-top: 30px;
  margin-left: 18px;
}

.price__toggle {
  margin-right: 19px;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #bec2c7;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }
}

.price__toggle--active {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: transparent;
  border: 3px solid #283645;

  &:hover {
    background-color: transparent;
  }
}

.price__toggle:nth-child(1) {
  margin-right: 14px;
}

@media (min-width: @tablet-width) {
  .price {
    margin-top: 19px;
    padding-top: 88px;
    padding-bottom: 70px;
  }

  .price__wrapper {
    width: 620px;
    margin: 0 auto;
    overflow: inherit;
  }

  .price__title {
    padding: 10px 11.5px;

    &--hit {
      background-position: -10px -3px;
    }

    &--hit::before {
      top: -6px;
      left: -6px;
    }
  }

  .price__title--hidden {
    display: block;
  }

  .price__title-name {
    font-size: 16px;
  }

  .price__title-value {
    width: 130px;
    font-size: @middle-size;
  }

  .price__option {
    padding: 6.5px 16px;
    text-transform: none;
  }

  .price__option-image-yes {
    top: 8px;
    right: 59px;
  }


  .price__option-image-no {
    top: 8px;
    right: 61px;
  }

  .price__option--hide {
    display: block;
  }

  .price__option-hidden {
    display: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    margin-top: 38px;
    padding-top: 155px;
    padding-bottom: 94px;
  }

  .price__title {
    padding: 13px 10.5px;
    padding-bottom: 20px;
  }

  .price__title-name {
    margin-top: 5px;
    font-size: @middle-size;
  }

  .price__title-value {
    width: 212px;
    font-size: @big-size;
  }

  .price__title--hit {
    background-position: 0 0;

    &::before {
      top: 2px;
      left: -2px;
    }
  }

  .price__option {
    padding: 14.5px 21px;
  }

  .price__option-image-yes {
    top: 21px;
    right: 101px;
  }

  .price__option-image-no {
    top: 16px;
    right: 103px;
  }

  .price__option--hide {
    font-size: @middle-size;
  }
}
