.promo {
  position: relative;
}

.promo__background {
  min-height: 397px;
  background-color: #1d2631;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 1% 118px, 0 -61px;
  background-size: 79%, cover;
}

@media (min-width: @tablet-width) {
  .promo__background {
    min-height: 620px;
    background-image:
      url("../img/iphone-hand-mobile@1x.png"),
      url("../img/back-tablet@.jpg");
    background-repeat: no-repeat;
    background-position: 89% 93px, 0 -129px;
    background-size: 62%, cover;
  }
}

@media (min-width: @desktop-width) {
  .promo__background {
    min-height: 853px;
    background-image:
      url("../img/desktop-iphone-6.png"),
      url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 95% 226px, 0 -2px;
    background-size: 85%, cover;
  }
}

@media (min-width: @tablet-width) {
  .promo__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 100px;
  }
}

@media (min-width: @desktop-width) {
  .promo__wrapper {
    width: 940px;
  }
}

.promo--mini {
  min-height: 170px;
  padding-top: 40px;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.promo__title {
  width: 170px;
  margin: 0 auto;
  font-weight: 300;
  font-size: @big-size;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.promo__title--big {
  width: 250px;
}

.promo__title--index {
  display: none;
  width: 191px;
  margin-top: 8px;
  margin-left: 43px;
  font-weight: 300;
  line-height: 45px;
  font-size: 40px;
}

@media (min-width: @tablet-width) {
  .promo__title--index {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .promo__title--index {
    margin-top: 115px;
  }
}
