.promo {
  position: relative;
}

.promo__background {
  min-height: 462px;
  background-color: #1d2631;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -1% 174px, 0;
  background-size: 81%, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-position: -1% 174px, 50% -2px;
    background-size: 81%, cover;
  }
}

.promo__background--mini {
  min-height: 394px;
  background-color: #1d2631;
  background-position: 3% 111px, 50% 100%;
  background-size: 80%, cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-position: -1% 107px, 50% -69px;
    background-size: 81%, 701px 463px;
  }
}

.promo--mini {
  min-height: 237px;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 714px 481px;
    background-position: 50% -8px;
  }
}

.promo--mini-small {
  min-height: 170px;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -67px;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 714px 464px;
    background-position: 50% 24%;
  }
}

.promo__wrapper--mini {
  padding-top: 40px;
}

.promo__title {
  position: absolute;
  left: 50%;
  bottom: 82px;
  width: 170px;
  margin: 0;
  margin-left: -85px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.promo__title--big {
  left: 50%;
  bottom: 53px;
  width: 250px;
  margin-left: -125px;
}

@media (min-width: @tablet-width) {
  .promo__background {
    min-height: 729px;
    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 52% 186px, 50% 1px;
    background-size: 91%, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo__background--mini {
    min-height: 619px;
    background-position: 52% 76px, 50% -111px;
    background-size: 91%, 1199px 728px;
  }

  .promo__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .promo--mini {
    min-height: 439px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 3%;
    background-size: 1200px 779px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo--mini-small {
    min-height: 330px;
    background-position: 50% 28%;
    background-size: 1204px 734px;
  }

  .promo__title {
    left: 50%;
    bottom: 143px;
    width: 394px;
    margin-left: -197px;
    font-size: 50px;
    line-height: 59px;
  }

  .promo__title--big {
    bottom: 83px;
    width: 480px;
    margin-left: -240px;
  }
}

@media (min-width: @desktop-width) {
  .promo__background {
    min-height: 853px;
    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 98% 206px, -682px -2px;
    background-size: 1048px 645px, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image:
        url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
      background-position: 98% 206px, -679px 8px;
    }
  }

  .promo__wrapper {
    width: 940px;
  }

  .promo--mini {
    min-height: 395px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 2560px 853px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px 896px;
    }
  }

  .promo__title {
    bottom: 102px;
    width: 640px;
    margin-left: -319px;
  }

  .promo__title--big {
    width: 770px;
    margin-left: -386px;
  }

  .promo__title--index {
    bottom: 406px;
    width: 239px;
    margin-left: 85px;
    font-size: 50px;
    line-height: 60px;
  }
}
