.reviews__wrapper {
  display: block;
  margin-bottom: 13px;
  padding-top: 44px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-top: 58px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 940px;
    padding-top: 187px;
    background-image: url("../img/slider-quotes.png");
    background-repeat: no-repeat;
    background-position: 50% 75px;
  }
}
