.site-list {
  text-align: center;
}

.site-list__item {
  padding: 15px 0;
  padding-bottom: 16px;
  border-top: 1px solid #000000;
  box-shadow: inset 0 1px 0 0 #485461;
}

.site-list__item:last-child {
  border-bottom: 1px solid #000000;
}

.site-list__link {
  font-size: @middle-size;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &[href]:hover {
    color: #d22856;
  }

  &[href]:active {
    color: #6f3650;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding-top: 15.6px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
  }

  .site-list__link--active {
    padding-bottom: 13px;
    border-bottom: 2px solid #ffffff;
  }

  .site-list {
    display: flex;
    width: 700px;
    margin-left: auto;
    padding-top: 25px;
    border: none;
  }

  .site-list__item {
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .site-list__item:first-child {
    margin-left: auto;
  }

  .site-list__item:not(:last-child) {
    margin-right: 80px;
  }
}
