.site-button {
  display: block;
  width: 280px;
  margin-left: -2px;
  padding: 16px 15px;
  font-weight: bold;
  font-size: @middle-size;
  line-height: 18px;
  font-family: @font;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: #f2ced5;
    background-color: #ffffff;
  }
}

.site-button--post {
  color: @red;
  border-color: @red;

  &:hover {
    color: #ffffff;
    background-color: @red;
  }

  &:active {
    color: #e08195;
    background-color: @red;
  }
}

.site-button--cancel {
  color: #e3e4e4;
  background-color: transparent;
  border-color: #dddfe0;

  &:hover {
    color: #c4c6c8;
    background-color: transparent;
    border-color: #b5b9be;
  }

  &:active {
    color: #cdd0d3;
    background-color: #b5b9be;
    border-color: #b5b9be;
  }
}

@media (min-width: @tablet-width) {
  .site-button--tablet {
    width: 300px;
  }

  .site-button--cancel {
    width: 262px;
  }

  .site-button--post {
    width: 262px;
  }
}

@media (min-width: @desktop-width) {
  .site-button--desktop {
    font-size: 21px;
  }

  .site-button--cancel {
    width: 180px;
  }

  .site-button--post {
    width: 180px;
  }
}
