.slider__list {
  .lists;
}

.slider__user-name {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: @middle-size;
  line-height: 30px;
}

.slider__text {
  width: 280px;
  margin: 0 auto;
  line-height: 30px;
}
