.slider__list {
  .lists;
}

.slider__user-name {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: @middle-size;
  line-height: 30px;
}

.slider__text {
  width: 280px;
  margin: 0 auto;
  line-height: 30px;
}

.slider__toggles {
  margin: 0;
}

.slider__toggle {
  margin-right: 19px;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #bec2c7;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }
}

.slider__toggle:last-child {
  margin: 0;
}

.slider__toggle--active {
  width: 12px;
  height: 12px;
  margin-right: 16px;
  background-color: transparent;
  border: 3px solid #283645;

  &:hover {
    background-color: transparent;
  }
}
