.social__list {
  display: flex;
  justify-content: center;
  .lists;
  margin-top: 33px;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #e9ebec;
  }
}

.social__link svg {
  fill: @red;
}

.social__link:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-top: 0;
  }

  .social__list--photo,
  .social__list--form {
    margin-top: 2px;
    margin-left: 1px;
  }
}


@media (min-width: @desktop-width) {
  .social__list {
    margin-top: 4px;
  }
}
