.users-photos {
  margin-top: 55px;
}

.users-photos__promo {
  width: 250px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
}

.users-photos__list {
  margin-top: 50px;
}

.users-photos__description {
  margin: 0;
  text-align: center;
}

.users-photos__description:not(:first-child) {
  margin-top: 20px;
}
